/*
##################
##################

  Components

##################
##################
*/


/* Election Campaign Unit */
.election-campaign-unit {
    background: #fff;
    border-radius: 30px;
    border: #DEDEDE 1px solid;
    box-shadow: rgba(0, 0, 0, 0.10) 0 15px 60px;
    overflow: hidden;
    transition: box-shadow 0.25s ease-out;
}

.election-campaign-unit:hover {
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0 15px 85px;
}

.election-campaign-unit + .election-campaign-unit {
    margin-top: 50px;
}

.elect-camp-dot {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -2px 5px 0 0;
    vertical-align: middle;
    background: red;
    border-radius: 100%;
    animation: blinking-dot 1s infinite ease-in-out;
}

@keyframes blinking-dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}

.elect-camp-unit-candidates {
    overflow: hidden;
}

.elect-camp-unit-candidates .person-wrp {
    padding: 15px;
    width: 18%;
    min-width: 280px;
    flex-shrink: 0;
}

.elect-camp-unit-candidates .person-wrp + .person-wrp {
    border-left: #DEDEDE 1px solid;
}

.elect-camp-unit-candds-mask {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    padding: 0 40px 0 60px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .80) 70%, rgba(255, 255, 255, 0) 98%);
}

/* Article Preview & View */
.article-group {
}

.article-group + .article-group {
    margin-top: 90px;
}

.article-preview-unit {
    padding: 30px;
    background: #fff;
    border: #DEDEDE 1px solid;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.10) 0 15px 60px;
    transition: box-shadow 0.25s ease-out;
}

.article-preview-unit:hover {
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0 15px 85px;
}

.article-preview-unit + .article-preview-unit {
    margin-top: 50px;
}

.article-preview-image {
}

.article-preview-image img,
.wp-block-image img {
    display: block;
    width: 100%;
    height: auto;
}

.article-media {
    padding: 30px;
}

.article-media img {
    max-width: 100%;
}

.article-view {
}

.article-view h3 {
    padding: 50px 0 15px 0;
}


.incident-attachments {
    display: inline-flex;
    flex-direction: column;
}

.incident-attachments .attachment-unit + .attachment-unit {
    margin-top: 10px;
}

.attachment-unit {
    padding: 10px 20px 10px 10px;
    background: #fff;
    border: #DEDEDE 1px solid;
    border-radius: 15px;
}

.attachment-unit:hover {
    box-shadow: rgba(0, 0, 0, 0.10) 0 15px 30px;
    z-index: 1;
}


/* Persons */
.person-wrp {
}

.person-wrp:hover {
    background: #f7f7f7;
}

.person-photo {
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    background: #EDEDED;
}

.person-photo img:not([class^="el-"]) {
    position: absolute;
    top: 0;
    left: -10%;
    min-width: 120%;
    max-width: 100%;
    min-height: 100%;
}

.partner-photo {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.partner-photo img {
}

.person-initials {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.person-wrp .infoblock {
    margin-top: 10px;
}

.person-wrp .infoblock + .infoblock {
    margin-top: 15px;
}

.person .chart {
}

.person-popover {
    display: none;
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: auto;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 15px 30px;
    z-index: 10;
}

.person-wrp:hover .person-popover {
    display: block;
}


/* Persons preview */
.persons-preview-list {
    display: flex;
    flex-direction: revert;
    align-items: center;
}

.persons-preview-unit {
    width: 44px;
    height: 44px;
    border: #fff 1.5px solid;
    border-radius: 100%;
    background: #EDEDED;
}

.persons-preview-unit:hover {
    z-index: 1;
}

.persons-preview-unit + .persons-preview-unit {
    margin: 0 0 0 -10px;
}

.persons-preview-unit img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.persons-preview-unit .tooltip {
    position: absolute;
    bottom: calc(100% - 5px);
    font-size: 12px;
    margin-left: 50%;
    padding: 5px 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.10) 0 10px 20px;
    border: #DEDEDE 1px solid;
    border-radius: 8px;
    transform: translate(-50%, 0);
    z-index: 1;
    display: none;
}

.persons-preview-unit:hover .tooltip {
    display: block;
}

.person-view .person-photo {
    width: 256px;
    height: auto;
    border-radius: 5px;
}

.person-view .person-photo img {
    position: relative;
}


/* Charts */
.chart-wrp {
    display: flex;
    align-items: center;
}

.chart-unit {
    width: auto;
    min-width: 10px;
    max-width: 100%;
    height: 8px;
    background: #FF5C01;
}

.chart-value {
    color: #FF5C01;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 0 5px;
}

.campaign-candidates-list {
    display: inline-flex;
    flex-wrap: wrap;
    background: #fff;
    border: #DEDEDE 1px solid;
    border-radius: 30px;
    overflow: hidden;
}

.campaign-candidates-list:hover {
    overflow: visible;
}

.campaign-candidates-list .person-wrp {
    padding: 20px;
    min-width: 200px;
    width: 20%;
}

.popup .campaign-candidates-list .person-wrp {
    width: auto;
    min-width: auto;
}

.popup .campaign-candidates-list .person-wrp:last-child:before {
    display: none;
}

.campaign-candidates-list .person-wrp:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #DEDEDE;
}

.campaign-candidates-list .person-wrp:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #DEDEDE;
}

.campaign-candidates-list .person-wrp:nth-child(5n) {
    border-right: none;
}

.campaign-candidates-list .person-wrp:nth-child(5n):before {
    display: none;
}

.campaign-candidates-list.v2 {
    display: flex;
    border: none;
    overflow: initial;
    border-radius: initial;
}

.campaign-candidates-list.v2 .campaign-cand-list-unit {
    padding: 15px;
    min-width: 200px;
    width: 20%;
}

.campaign-candidates-list.v2 .person-wrp {
    padding: 15px;
    min-width: initial;
    width: initial;
    border: initial;
    border: #DEDEDE 1px solid;
    border-radius: 15px;
}


.incident-unit {
    display: flex;
    background: #fff;
    border: #DEDEDE 1px solid;
    border-radius: 20px;
}

.incident-unit:hover {
    box-shadow: rgba(0, 0, 0, 0.10) 0 15px 30px;
    z-index: 1;
}

.incident-unit + .incident-unit {
    margin: 15px 0 0 0;
}


/* Election Committee */
.committee-list {
}

.committee-list .committee-unit + .committee-unit,
.committee-members-list .committee-members-unit + .committee-members-unit,
.organization-list .organization-unit + .organization-unit {
    margin-top: 15px;
}

.committee-unit,
.committee-members-unit,
.organization-unit {
    display: flex;
    align-items: center;
    background: #fff;
    border: #DEDEDE 1px solid;
}

.committee-unit:hover,
.committee-members-unit:hover:not([class*="hide-hover"]),
.organization-unit:hover {
    box-shadow: rgba(0, 0, 0, 0.10) 0 15px 30px;
    z-index: 1;
}

.committee-unit.mark {
    background: #FFF3EC;
    border-color: #FF5C01;
}

.committee-members-list {
}

.committee-members-unit {
}

.organization-unit-logo {
    display: flex;
    align-items: center;
    text-align: center;
}

.organization-unit-logo img {
    max-width: 100%;
    max-height: 30px;
    display: block;
    margin: 0 auto;
}

.organization-logo {
    width: 256px;
    height: auto;
}

.organization-logo img {
    display: block;
    width: 100%;
    height: auto;
}

/* Header */
.map-wrp {
}

.map-wrp-legend {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 15px;
    background: #fff;
    border: #DEDEDE 1px solid;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 10px 20px;
}

.map-wrp.committee-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EDEDED;
    border-radius: 30px;
}

.map-mark {
    position: absolute;
    display: flex;
    align-items: center;
    background: #fff;
    border: #AFAFAF 1px solid;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 10px 20px;
}

.map-mark:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 10px 20px;
}

.map-mark.mark {
    border: var(--main, #FF5C01) 2px solid;
    box-shadow: rgba(255, 92, 1, 0.15) 0 10px 20px;
}

.map-mark.mark:hover {
    box-shadow: rgba(255, 92, 1, 0.25) 0 10px 20px;
}

/* Header */
.header-wrp.fixedhrd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width:100%;
    z-index: 20;
}

.sidebar-container {
    position: fixed;
    top: 170px;
    right: 22%;
    z-index: 21;
    width: 250px;
    background: #fff;
    border: #DEDEDE 1px solid;
}

.adv-container {
    position: fixed;
    top: 300px;
    right: 22%;
    z-index: 21;
    width: 250px;
    background: #fff;
    border: #DEDEDE 1px solid;
}

.header {
    padding: 10px 0;
}

.header-subnav {
    display: flex;
    align-items: center;
    /*padding:15px 30px;*/
    background: #fff;
    border-bottom: #DEDEDE 1px solid;
}

.footer:after {
    content: '';
    position: absolute;
    width: auto;
    height: 2px;
    background: #EDEDED;
    top: 0;
    left: 40px;
    right: 40px;
}

.header-links a {
    display: inline;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    border-bottom: rgba(0, 0, 0, 1) 1px solid;
}

.header-links a:hover {
    color: var(--main, #FF5C01);
    border-color: var(--main, #FF5C01);
}

.header-links a + a {
    margin-left: 25px;
}

.header-links a.active {
    color: var(--main, #FF5C01);
    border: none;
}

.hdr-nav-links {
    padding: 20px 5%;
    margin: 0 -5% -20px -5%;
    white-space: nowrap;
    overflow-x: auto;
}

.hdr-nav-l-spr {
    color: #C4C4C4;
    margin: 0 5px;
}

/* Info Blocks */
.infoblock {
}

.infoblock + .infoblock {
    margin-top: 20px;
}

.infoblock-name {
    color: #808080;
}

.infoblock-value {
    font-weight: 500;
    margin-top: 2px;
}


.verification-ok {
    background: #E2FFDD;
}

.verification-form {
    background: #F8F8F8;
}

/* Files drop Area */
.droparea {
    padding: 30px;
    border: #DEDEDE 2px dashed;
    border-radius: 8px;
}

.droparea.active {
    border-color: var(--main, #FF5C01);
    background: rgba(255, 92, 1, 0.15);
}


/* Switcher */
.lang-swicher {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.lang-swicher {
    top: -10px;
}

.homepage .lang-swicher {
    top: -30px;
}

.lang-swicher-button,
.lang-swicher-button img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.lang-swicher-button {
    width: 28px;
    height: 28px;
    border: #fff 2px solid;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px;
    overflow: hidden;
}

.lang-swicher-button:hover {
    border-color: rgba(255, 92, 1, 0.6)
}

.lang-swicher-button.active {
    opacity: 0.3;
}

.lang-swicher-button + .lang-swicher-button {
    margin-left: 15px;
}



.details-unit {
    background: #fff;
    border-radius: 20px;
    border: #DEDEDE 1px solid;
    box-shadow: rgba(0, 0, 0, 0.10) 0 15px 60px;
    overflow: hidden;
    transition: box-shadow 0.25s ease-out;
    }
.details-unit:hover {
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0 15px 85px;
    }
.details-unit + .details-unit {
    margin:15px 0 0 0;
    }
.details-unit-sum {
    cursor:pointer;
    list-style:none;
    }
.details-unit[open] .details-unit-sum {
    border-bottom:#EDEDED 1px solid;
    }
.details-unit[open] .details-unit-sum:hover {
    background:#fffaf6;
    }
.details-unit-sum:before {
    content:'';
    display:inline-block;
    width:16px;
    height:16px;
    margin:0 5px 0 -5px;
    background-position:center center;
    background-repeat:no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg class='zoom-1_2' width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg' data-v-27fe4fcc=''%3E%3Cpath d='M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75V5.25ZM13.5303 6.53033C13.8232 6.23744 13.8232 5.76256 13.5303 5.46967L8.75736 0.696699C8.46447 0.403806 7.98959 0.403806 7.6967 0.696699C7.40381 0.989593 7.40381 1.46447 7.6967 1.75736L11.9393 6L7.6967 10.2426C7.40381 10.5355 7.40381 11.0104 7.6967 11.3033C7.98959 11.5962 8.46447 11.5962 8.75736 11.3033L13.5303 6.53033ZM1 6.75H13V5.25H1V6.75Z' fill='black' data-v-27fe4fcc=''%3E%3C/path%3E%3C/svg%3E");
    opacity:0.5;
    transition:transform 0.25s ease-out;
    }
.details-unit[open] .details-unit-sum:before {
    transform:rotate(45deg);
    }
.details-unit-cont-wrp {}

/*
REMOVED STYLES
*/

.zbr-h-logo {
    display: inline-block;
    width: 130px;
    height: auto;
}

.zbr-h-logo img {
    width: 100%;
    height: auto;
}

.zbr-ftr {
    background: var(--main, #FF5C01);
    color: #fff;
}

.zbr-ftr a {
    color: #fff;
}

.zbr-ftr a.txt-underline:after {
    background-color: #fff;
}

.zbr-ftr-links {
}

.zbr-ftr-links a,
.zbr-ftr-links a img {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.zbr-ftr-links a + a {
    margin-left: 10px;
}

.zbr-f-logo {
    display: inline-block;
    width: 150px;
}

/*   Burger Menu from JRM   */
#brgrbtn {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}

.burger-button {
    position: absolute;
    top: 50%;
    right: 5%;
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    margin-top: -18px;
    transition: all 0.2s ease-in;
    z-index: 10;
}

.burger-button-line {
    position: absolute;
    width: 30px;
    height: 4px;
    /*background: var(--main, #FF5C01);*/
    background: #ffffff;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.burger-button-line:first-child {
    left: 3px;
    top: 6px;
}

.burger-button-line:nth-child(2) {
    left: 3px;
    top: 16px;
}

.burger-button-line:last-child {
    left: 3px;
    bottom: 6px;
}

input#brgrbtn:checked + .burger-button,
.burger-button.close {
    transform: rotate(90deg);
}

input#brgrbtn:checked + .burger-button .burger-button-line:first-child,
.burger-button.close .burger-button-line:first-child {
    top: 16px;
    transform: rotate(-45deg);
    background: var(--main, #FF5C01);
}

input#brgrbtn:checked + .burger-button .burger-button-line:nth-child(2),
.burger-button.close .burger-button-line:nth-child(2) {
    opacity: 0;
}

input#brgrbtn:checked + .burger-button .burger-button-line:last-child,
.burger-button.close .burger-button-line:last-child {
    bottom: 16px;
    transform: rotate(45deg);
    background: var(--main, #FF5C01);
}

.brgr-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 65%;
    height: 100%;
    padding: 100px 5% 10% 5%;
    background: transparent;
    transition: all 0.35s ease-in;
    opacity: 0;
    z-index: 5;
}

.brgr-nav:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 60px;
    z-index: -1;
}

.brgr-nav * {
    color: #fff;
}

input#brgrbtn:checked + label + .brgr-nav {
    right: 0;
    opacity: 1;
}

.brgr-nav-links .button {
    display: block;
    font-size: 22px;
    text-transform: none;
    margin: 15px 0;
    border-color: rgba(255, 255, 255, 0.15);
}

.brgr-nav .lang-swicher {
    position: absolute;
    left: 5%;
    top: 2.49%;
    background: rgba(255, 255, 255, 0.2);
}


@media (max-width: 820px) {
    @viewport {
        width: device-width;
    }
    @-ms-viewport {
        width: device-width;
    }

    body {
        font-size: 15px;
    }

    .header-wrp {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 20;
    }

    .header {
        padding: 5px 0;
    }

    .header-subnav {
        white-space: nowrap;
        overflow-x: auto;
    }

    .burger-button {
        zoom: 0.8;
    }

    .brgr-nav .header-links a {
        font-size: 18px;
    }

    .footer:after {
        left: 20px;
        right: 20px;
    }

    .popup {
        border-radius: 20px;
    }

    .map-wrp.committee-view {
        position: relative;
        width: 100%;
        height: 400px;
        border-radius: 20px;
    }

    .elect-camp-dot {
        width: 13px;
        height: 13px;
    }

    .article-preview-unit {
        padding: 20px;
    }

    .elect-camp-unit-candidates .person-wrp {
        min-width: 90px;
    }

    .elect-camp-unit-candds-wrp .person-photo {
        width: 60px;
        height: 60px;
    }

    .campaign-candidates-list {
        width: 100%;
    }

    .campaign-candidates-list .person-wrp,
    .popup .campaign-candidates-list .person-wrp {
        width: 50%;
        min-width: initial;
    }

    .campaign-candidates-list .person-wrp:nth-child(5n):before,
    .popup .campaign-candidates-list .person-wrp:nth-child(5n):before {
        display: block;
    }

    .campaign-candidates-list .person-wrp:nth-child(even),
    .popup .campaign-candidates-list .person-wrp:nth-child(even) {
        border-right: none;
        right: -1px;
    }

    .popup .campaign-candidates-list .person-wrp:last-child:before {
        display: block;
    }

    .incident-unit {
        display: block;
    }

    .button.medium {
        font-size: 12px;
        padding: 6px 13px;
    }

    .buttongroup-unit {
        font-size: 12px;
        padding: 6px 12px;
    }

    .article-media,
    .wp-block-image {
        padding: 30px 0;
    }

    p.quote {
        font-size: 22px;
        padding: 15px 15px;
    }

    p.quote:after {
        width: 3px;
    }

    .person-view .person-photo {
        width: 100%;
        height: 0;
        padding: 50% 0;
    }


}







