<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style-main.css">
    <link rel="shortcut icon" href="/assets/img/logo.svg" type="image/x-icon">
    <title>Нішо</title>
</head>
<body class="error-bcg">
  <div class="error-wrapper">
    <p class="error-title">Памылка 404</p>
    <p class="error-caption">Старонка не знойдзена...</p>
    <img class="error-img" src="/assets/img/goat.png" alt="">
  </div>
   
</body>
</html>