<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style-main.css">
    <link rel="shortcut icon" href="/assets/img/logo.svg" type="image/x-icon">
    <title>Hero</title>
</head>
<body>
  <div class="hero-wrapper">
    <img class="hero-img" src="/assets/img/png_girl 1.png" alt="">
    <div class="hero-text">
      <img class="hero-logo" src="/assets/img/logo.svg"></img>
      <p class="hero-caption">Твая мова — твае правілы</p>
    </div>
  </div>
</body>
</html>