<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/merged-style.css">
    <link rel="shortcut icon" href="./assets/img/logo.svg" type="image/x-icon">
    <title>Нішо</title>
</head>
<body>
  <div class="login bcg-purple">
    <h1 class="title title-white">
      <a class="back-btn" href="">
        <img src="/public/assets/img/back.svg" alt="">
      </a>
      Уваход
    </h1> 
    <form class="login_form" action="">
      <div class="cross"></div>
      <label class="login_label" for="login">Лагін</label>
      <input class="login_input" type="" name="login" placeholder="лагін">
      <label class="login_label" for="password">Пароль</label>
      <div class="password-wrapper login_input">
        <input class="password_input" type="password" name="password">
        <button class="hide-password-btn" type="button">
          <img src="./assets/img/eye.svg" alt="" class="eye-pswrd">
        </button>
      </div>

      <a class="change-password" href="/html/registration.html">Не памятаю пароль</a>

      <input class="login-submit-btn" type="submit" value="Уваход">

      <div class="divider">
        <div class="divider-line"></div>
        <p>Ці</p>
        <div class="divider-line"></div>
      </div>
      <div class="gmail-registration">
        <img class="gmail-img" style="width: 2rem;" src="./assets/img/gmail.svg" alt="">
        <button class="gmail-registration-btn" type="submit" value="">рэгістрацыя праз Gmail</button>
      </div>
      
      <div class="account">
        <p>Патрэбны аккаунт?</p>
        <a href="/html/registration.html" class="registration-link">
          Рэгістрацыя
        </a>
      </div> 
     
    </form>
  </div>
</body>
</html>