<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/merged-style.css">
    <link rel="shortcut icon" href="/assets/img/logo.svg" type="image/x-icon">
    <title>Нішо</title>
</head>




<body>
  <div class="bcg-purple main-wrapper">
    <header class="header">

      <button class="header-logo-btn">
        <img class="header-logo-img" src="./assets/img/logo.svg" alt="">
      </button>
  
      <div class="header-form-container container">
        <form class="header-form" action="">
          <button class="form-search-btn">
            <img class="form-search-btn-img" src="./assets/img/search.svg" alt="">
          </button>
  
          <input type="text" class="search-input">
  
          <button class="form-random-btn">
            <img class="form-random-btn-img" src="./assets/img/random.svg" alt="">
          </button>
        </form>
      </div>
      
      <div class="header-btns">
          <a class="add-btn" href="/html/add-word.html">
            <img class="add-btn-img" src="./assets/img/add.svg" alt="">
          </a>
          
          <button class="person-btn">
            <img class="person-btn-img" src="./assets/img/person.svg" alt="">
          </button>
      </div>
      
  
    </header>
  
  
  
    <main class="main">
      <div class="main-container container">
        <div class="cards-div">
          <div class="card">
            <a class="card-title" href="">
              Some title
            </a>
            <div class="card-description">
              some description or definition about this title.
            </div>
            <div class="card-example">
              oh, this word is the most funny in the whole world
            </div>
            <div class="card-tags">
              <span class="user-tag">Tag1</span>
              <span class="embedded-tag">Tag2</span>
            </div>
            <div class="card-info">
              <a class="card-info_link">
              user123
              </a>
              <div class="card-info_date">
                2022.09.22
              </div>
            </div>
            <div class="card-buttons">
              <div class="card-buttons_actions">
                <button class="card-buttons-actions_dislike">
                  <img class="dislike-img" src="/assets/img/dislike.svg" alt="">
                </button>
              <div class="dislikes-amount">
                  111
              </div>
              /
              <button class="card-buttons-actions_like">
                <img class="like-img" src="/assets/img/like.svg" alt="">
              </button>
              <div class="likes-amount">
                  333
              </div>
  
              <button class="card-buttons-actions_flag">
                <img class="flag-img" src="/assets/img/flag.svg" alt="">
              </button>
              </div>
              <a href="/html/edit-word.html" class="card-buttons_addnew-btn">
              + Новае значэнне
              </a>
            </div>
          </div>
          <div class="card">
            <a class="card-title" href="">
              Some title
            </a>
            <div class="card-description">
              some description or definition about this title.
            </div>
            <div class="card-example">
              oh, this word is the most funny in the whole world
            </div>
            <div class="card-tags">
              <span class="user-tag">Tag1</span>
              <span class="embedded-tag">Tag2</span>
            </div>
            <div class="card-info">
              <a class="card-info_link">
              user123
              </a>
              <div class="card-info_date">
                2022.09.22
              </div>
            </div>
            <div class="card-buttons">
              <div class="card-buttons_actions">
                <button class="card-buttons-actions_dislike">
                  <img class="dislike-img" src="/assets/img/dislike.svg" alt="">
                </button>
              <div class="dislikes-amount">
                  111
              </div>
              /
              <button class="card-buttons-actions_like">
                <img class="like-img" src="/assets/img/like.svg" alt="">
              </button>
              <div class="likes-amount">
                  333
              </div>
  
              <button class="card-buttons-actions_flag">
                <img class="flag-img" src="/assets/img/flag.svg" alt="">
              </button>
              </div>
              <a href="/html/edit-word.html" class="card-buttons_addnew-btn">
              + Новае значэнне
              </a>
            </div>
          </div>
          <div class="card">
            <a class="card-title" href="">
              Some title
            </a>
            <div class="card-description">
              some description or definition about this title.
            </div>
            <div class="card-example">
              oh, this word is the most funny in the whole world
            </div>
            <div class="card-tags">
              <span class="user-tag">Tag1</span>
              <span class="embedded-tag">Tag2</span>
            </div>
            <div class="card-info">
              <a class="card-info_link">
              user123
              </a>
              <div class="card-info_date">
                2022.09.22
              </div>
            </div>
            <div class="card-buttons">
              <div class="card-buttons_actions">
                <button class="card-buttons-actions_dislike">
                  <img class="dislike-img" src="/assets/img/dislike.svg" alt="">
                </button>
              <div class="dislikes-amount">
                  111
              </div>
              /
              <button class="card-buttons-actions_like">
                <img class="like-img" src="/assets/img/like.svg" alt="">
              </button>
              <div class="likes-amount">
                  333
              </div>
  
              <button class="card-buttons-actions_flag">
                <img class="flag-img" src="/assets/img/flag.svg" alt="">
              </button>
              </div>
              <a href="/html/edit-word.html" class="card-buttons_addnew-btn">
              + Новае значэнне
              </a>
            </div>
          </div>
          <div class="card">
            <a class="card-title" href="">
              Some title
            </a>
            <div class="card-description">
              some description or definition about this title.
            </div>
            <div class="card-example">
              oh, this word is the most funny in the whole world
            </div>
            <div class="card-tags">
              <span class="user-tag">Tag1</span>
              <span class="embedded-tag">Tag2</span>
            </div>
            <div class="card-info">
              <a class="card-info_link">
              user123
              </a>
              <div class="card-info_date">
                2022.09.22
              </div>
            </div>
            <div class="card-buttons">
              <div class="card-buttons_actions">
                <button class="card-buttons-actions_dislike">
                  <img class="dislike-img" src="/assets/img/dislike.svg" alt="">
                </button>
              <div class="dislikes-amount">
                  111
              </div>
              /
              <button class="card-buttons-actions_like">
                <img class="like-img" src="/assets/img/like.svg" alt="">
              </button>
              <div class="likes-amount">
                  333
              </div>
  
              <button class="card-buttons-actions_flag">
                <img class="flag-img" src="/assets/img/flag.svg" alt="">
              </button>
              </div>
              <a href="/html/edit-word.html" class="card-buttons_addnew-btn">
              + Новае значэнне
              </a>
            </div>
          </div>
          <div class="card">
            <a class="card-title" href="">
              Some title
            </a>
            <div class="card-description">
              some description or definition about this title.
            </div>
            <div class="card-example">
              oh, this word is the most funny in the whole world
            </div>
            <div class="card-tags">
              <span class="user-tag">Tag1</span>
              <span class="embedded-tag">Tag2</span>
            </div>
            <div class="card-info">
              <a class="card-info_link">
              user123
              </a>
              <div class="card-info_date">
                2022.09.22
              </div>
            </div>
            <div class="card-buttons">
              <div class="card-buttons_actions">
                <button class="card-buttons-actions_dislike">
                  <img class="dislike-img" src="/assets/img/dislike.svg" alt="">
                </button>
              <div class="dislikes-amount">
                  111
              </div>
              /
              <button class="card-buttons-actions_like">
                <img class="like-img" src="/assets/img/like.svg" alt="">
              </button>
              <div class="likes-amount">
                  333
              </div>
  
              <button class="card-buttons-actions_flag">
                <img class="flag-img" src="/assets/img/flag.svg" alt="">
              </button>
              </div>
              <a href="/html/edit-word.html" class="card-buttons_addnew-btn">
              + Новае значэнне
              </a>
            </div>
          </div>
          <div class="card">
            <a class="card-title" href="">
              Some title
            </a>
            <div class="card-description">
              some description or definition about this title.
            </div>
            <div class="card-example">
              oh, this word is the most funny in the whole world
            </div>
            <div class="card-tags">
              <span class="user-tag">Tag1</span>
              <span class="embedded-tag">Tag2</span>
            </div>
            <div class="card-info">
              <a class="card-info_link">
              user123
              </a>
              <div class="card-info_date">
                2022.09.22
              </div>
            </div>
            <div class="card-buttons">
              <div class="card-buttons_actions">
                <button class="card-buttons-actions_dislike">
                  <img class="dislike-img" src="/assets/img/dislike.svg" alt="">
                </button>
              <div class="dislikes-amount">
                  111
              </div>
              /
              <button class="card-buttons-actions_like">
                <img class="like-img" src="/assets/img/like.svg" alt="">
              </button>
              <div class="likes-amount">
                  333
              </div>
  
              <button class="card-buttons-actions_flag">
                <img class="flag-img" src="/assets/img/flag.svg" alt="">
              </button>
              </div>
              <a href="/html/edit-word.html" class="card-buttons_addnew-btn">
              + Новае значэнне
              </a>
            </div>
          </div>
        </div>
        <div class="pages-list">
          <a class="previous-page-btn" href=""><</a>
          <a class="active-page" href="">
            1
          </a>
          <a class="next-page-btn" href="">></a>
        </div>
      </div>
    </main>
  
  
  
  
  
    <footer class="footer">
      <div class="links">
        <div class="social-links">
          <img src="./assets/img/instagram.svg" alt="">
          <img src="./assets/img/discord.svg" alt="">
        </div>
        <div class="about-links">
          <a href="">Пра нас</a>
          <a href="">Гайдлайны</a>
        </div>
      </div>
      @ 2022 Nisho
    </footer>
  
  
  </div>
</body>
</html>